body {
    background-color: #F5EBDD;

}

h1 {
    color: #413333;
    font-size: 40px;
    margin: 25px 0px 15px 25px;
}

h2 {
    color: #413333;
    font-size: 30px;
    margin: 30px 0px 15px 25px;
}

img.newjeans {
    margin: 10px 0px 0px 25px;
    width: 480px;
}

p {
    color: #413333;
    font-size: 21px;
    margin: 25px;
}

li {
    color: #413333;
    font-size: 20px;
    margin: 15px 0px 10px 5px;

}

img.instagram {
    margin: 10px 5px 0px 25px;
    width: 40px;
}

img.tiktok {
    margin: 10px 5px 0px 2px;
    width: 41px;
}

button.official-website {
    font-size: 15px;
    color: #413333;
    background-color: #F2765E;
    margin: 15px 5px 30px 25px;
    padding: 8px 15px;
    border: 2px solid #413333;
    border-radius: 30px;

}