h1 {
    font-size: 40px;
    margin: 25px 0px 15px 25px;
}

img.newjeans {
    margin: 10px 0px 0px 25px;
    width: 450px;
}

p {
    font-size: 20px;
    margin: 25px;
}

img.ditto {
    margin: 25px;
    width: 200px;
}

img.bubblegum {
    width: 200px;
}

img.supernatural {
    width: 200px;
}