body {
    background-color: #F7EAE0;
}

img.profile {
    margin: 0px 0px 0px 25px;
    width: 200px;

}

h1 {
    color: #5E3122;
    font-size: 40px;
    margin: 25px;
}

h2 {

    color: #1D4533;
    font-size: 22px;
    display: inline-block;
    margin: 0px 0px 0px 25px;
    padding: 12px;
    border: 2px dashed #1D4533;

}

p {
    color: #5E3122;
    font-size: 20px;
    margin: 25px;
}

img.instagram {
    margin: 25px 5px 0px 25px;
    width: 40px;
}

img.facebook {
    margin: 25px 0px 0px 0px;
    width: 40px;
}